.main-button {
    display: flex;
    justify-content: center;
    background-color: #93e4ff;
    padding: 0.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 2rem;
    margin: 2rem;
    min-width: 4rem;
    width: max-content;
    cursor: pointer;
}