.img-favorites-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    text-align: center;
    margin: 0 auto; 
  }
  
  .img-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 15px; 
    justify-content: center; 
    align-items: center;
    width: fit-content; 
  }
  
  .grid-item {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ddd;
  }