.footer{
    display:flex;
    background-color:--var(--blue-rec);
    padding: 0.7rem;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: black;
    padding: 0rem;
    margin: 0rem;
}
