footer{
    color:  var(--blue-rec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    padding-bottom: 0%;
    height: 18% ;
    width: 10rem;
    position:fixed;
    bottom: 0;
}

footer p{
color: rgb(0, 0, 0);
padding: 0.5rem;
}
